@import '~/_app-variables.scss';
@import '~/styles/mixins.scss';
@import '~/styles/_omro-main-colors.scss';

$custom-green: #aae500;
$custom-gray: #8d8c8c;

.icon-status-container {
  .icon-container {
    @include square(42);
    .icon {
      font-size: $size-l;
      font-weight: $font-weight-light;
      color: $custom-gray;
    }
  }
  .status {
    vertical-align: bottom;
    .status-container {
      @include circle(25);
      background-color: $omro-white;
      vertical-align: center;
      horizontal-alignment: right;
      .status-circle {
        @include circle(20);
        text-align: center;
        background-color: $custom-green;
      }
    }
  }
}

.name-number-details {
  margin-left: 20;
}
