<StackLayout class="m-y-20">
    <GridLayout rows="auto" columns="auto,*">
        <GridLayout class="icon-status-container" rows="auto">
            <StackLayout class="icon-container">
                <Label text="&#x004B;" class="ff icon"></Label>
            </StackLayout>
            <StackLayout class="status">
                <StackLayout class="status-container">
                    <Label class="status-circle"> </Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
        <StackLayout class="name-number-details" col="1">
            <Label class="title" [text]="name | titlecase"></Label>
            <Label class="h3" [text]="'**** **** **** ' + last4Digits"></Label>
        </StackLayout>
    </GridLayout>
</StackLayout>
