<ScrollView>
    <DockLayout class="page" *ngIf="vm$ | async as vm">
        <StackLayout dock="top" class="close-button-container" horizontalAlignment="right" (tap)="onClosed()">
            <SVGImage class="close_icon" src="~/app/images/icon_close.svg"></SVGImage>
        </StackLayout>
        <Button
            dock="bottom"
            marginBottom="30"
            class="btn btn-primary x-large"
            [text]="'Transfers.AddNewPartner.AddNewAccount.AssociateTheAccountButtonText' | L"
            [isEnabled]="formGroup.valid"
            (tap)="onButtonTap()"
            width="50%"
            horizontalAlignment="right"
        ></Button>
        <StackLayout class="m-20">
            <Label class="h2" [text]="'Transfers.AddNewPartner.AddNewAccount.HeaderText' | L" textWrap="true"></Label>
            <StackLayout class="form" [formGroup]="formGroup">
                <omro-info-field marginBottom="30" [caption]="'Transfers.AddNewPartner.AddNewAccount.PartnerNameLabelText' | L">
                    <Label [text]="vm.name"></Label>
                </omro-info-field>
                <omro-text-field
                    [label]="'Transfers.AddNewPartner.AddNewAccount.Form.IbanAccount' | L"
                    formControlName="iban"
                    returnType="next"
                    (returnPress)="onButtonTap()"
                ></omro-text-field>
                <GridLayout rows="30">
                    <Label *ngIf="getFieldValidity('iban')" class="error-lbl" [text]="getErrorMessage('iban')" verticalAlignment="center"></Label>
                </GridLayout>
                <omro-dropdown-field
                    [field]="currencyField"
                    formControlName="currencyCode"
                    [modalDialogService]="modalDialogService"
                    [viewContainer]="vcRef"
                ></omro-dropdown-field>
                <GridLayout rows="30">
                    <Label
                        *ngIf="getFieldValidity('currencyCode')"
                        class="error-lbl"
                        [text]="getErrorMessage('currencyCode')"
                        verticalAlignment="center"
                    ></Label>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>
