@import '~/styles/_omro-main-colors.scss';
@import '~/styles/mixins.scss';

.close-button-container {
  @include square(60);
  .close_icon {
    margin: 20;
    @include square(20);
  }
}

.iban-currency-section {
    @include flex-design(row, space-between);
}

.info-caption {
    text-align: center;
    color: $omro-gray;
}