<ScrollView>
    <DockLayout *ngIf="vm$ | async as vm">
        <StackLayout dock="top" class="close-button-container" horizontalAlignment="right" (tap)="onClosed()">
            <SVGImage class="close_icon" src="~/app/images/icon_close.svg"></SVGImage>
        </StackLayout>

        <Button
            class="btn btn-primary x-large"
            marginBottom="30"
            dock="bottom"
            width="50%"
            horizontalAlignment="right"
            [text]="'Accounts.AccountDetails.Statement.SendButtonText' | L"
            [isEnabled]="formGroup.valid && sendButtonIsEnabled"
            (tap)="onNextTap()"
        ></Button>
        <StackLayout class="m-20">
            <Label class="h2" [text]="'Accounts.AccountDetails.Statement.HeaderText' | L" textWrap="true"></Label>
            <omro-account-header class="m-y-30" [accountName]="vm.name"></omro-account-header>
            <FlexboxLayout class="iban-currency-section" flexWrap="wrap">
                <omro-info-field [caption]="'Accounts.AccountDetails.Statement.IbanCaptionText' | L | uppercase">
                    <Label class="title" [text]="vm.iban"> </Label>
                </omro-info-field>
                <omro-info-field [caption]="'Accounts.AccountDetails.Statement.AccountCurrencyCaptionText' | L | uppercase">
                    <Label class="title" [text]="vm.currencyCode"> </Label>
                </omro-info-field>
            </FlexboxLayout>
            <StackLayout class="dates-between-section" [formGroup]="formGroup">
                <omro-date-field
                    [field]="startDate"
                    formControlName="fromDate"
                    [modalDialogService]="modalDialogService"
                    [viewContainer]="vcRef"
                ></omro-date-field>

                <omro-date-field
                    [field]="endDate"
                    formControlName="untilDate"
                    [modalDialogService]="modalDialogService"
                    [viewContainer]="vcRef"
                ></omro-date-field>
            </StackLayout>

            <Label class="info-caption m-30" text="Extrasul de cont va fi trimis pe adresa de email inregistrata" textWrap="true"></Label>
        </StackLayout>
    </DockLayout>
</ScrollView>
