<StackLayout orientation="horizontal">
    <StackLayout class="main-container-border" [class.checked]="value" [class.readonly]="readonly" (tap)="toggle()">
        <StackLayout *ngIf="value" class="main-container" [class.checked]="value" [class.readonly]="readonly">
        </StackLayout>
    </StackLayout>
    <StackLayout *ngIf="!text" col="1" verticalAlignment="center" width="100%" (tap)="toggle()">
        <ng-content></ng-content>
    </StackLayout>
    <Label *ngIf="text" class="default-text" [class.readonly]="readonly" col="1" textWrap="true" [text]="text" android:verticalAlignment="center" (tap)="toggle()"></Label>
</StackLayout>
