<StackLayout class="page">
    <StackLayout class="close-button-container" horizontalAlignment="right" (tap)="onCloseButtonTap()">
        <SVGImage class="close_icon" src="~/app/images/icon_close.svg"></SVGImage>
    </StackLayout>
    <StackLayout class="m-20" *ngIf="vm$ | async as vm">
        <StackLayout>
            <Label class="h2" [text]="vm.limitName" textWrap="true"></Label>
            <omro-card-number [name]="vm.cardName" [last4Digits]="vm.last4Digits"></omro-card-number>
        </StackLayout>
        <StackLayout class="m-y-20" orientation="horizontal">
            <omro-info-field [caption]="'EWallet.Configuration.TransactionLimit.CurrentLimitLabelText' | L | uppercase" marginRight="50">
                <Label class="title" [text]="(vm.currentLimit | number: '1.2') + ' ' + vm.currencyDisplayName"> </Label>
            </omro-info-field>
            <omro-info-field [caption]="'EWallet.Configuration.TransactionLimit.MaximumLimitLabelText' | L | uppercase">
                <Label class="title" [text]="(vm.maximumLimit | number: '1.2') + ' ' + vm.currencyDisplayName"> </Label>
            </omro-info-field>
        </StackLayout>
        <omro-text-field
            class="m-y-20"
            keyboardType="number"
            [label]="'EWallet.Configuration.TransactionLimit.NewAmountInputLabelText' | L"
            [formControl]="newAmountFormControl"
        ></omro-text-field>
    </StackLayout>
    <GridLayout rows="*">
        <Button
            class="btn btn-primary x-large"
            width="50%"
            horizontalAlignment="right"
            [text]="'Common.Ok' | L"
            [isEnabled]="newAmountFormControl.valid"
            (tap)="onNextTap()"
        ></Button>
    </GridLayout>
</StackLayout>
