<StackLayout>
    <StackLayout class="custom-bottom-sheet-layout m-10">
        <GridLayout class="m-20" rows="auto">
            <ng-containe *ngIf="vm$ | async as vm">
                <GridLayout rows="auto, auto" columns="auto,*,auto">
                    <StackLayout class="percentage-container">
                        <omro-percentage
                            [titleFontSize]="32"
                            [value]="vm.approvalSuccessRate"
                            [animationEnabled]="false"
                            [indicatorFillColor]="vm.indicatorFillColor"
                        ></omro-percentage>
                    </StackLayout>
                    <StackLayout marginLeft="10" col="1" horizontalAlignment="left">
                        <Label class="h4" [text]="'CreditRequest.Homepage.StandardEligibleProduct.PercentageModalCreditScore' | L"></Label>
                        <Label class="h3" [text]="vm.approvalSuccessTitle" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout width="40" height="40" col="2" verticalAlignment="top" (tap)="close()">
                     <SVGImage class="icon_close" src="~/app/images/icon_close.svg"  horizontalAlignment="right"></SVGImage>
                </StackLayout>
                    <StackLayout row="1" colSpan="3">
                        <Label class="detail-text" [text]="vm.approvalSuccessDetail" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
            </ng-containe>
        </GridLayout>
    </StackLayout>
</StackLayout>
