@import '~/styles/_omro-main-colors.scss';
@import '~/styles/_sizes.scss';
@import '~/styles/mixins.scss';

.custom-bottom-sheet-layout {
  margin-bottom: 30;
  background-color: $omro-white;
  border-radius: 8;
  .icon_close {
   @include square(20);
  }

  .percentage-container {
    @include circle(100);
  }

  .detail-text {
    font-size: $size-m;
    color: $omro-gray;
  }
}
