<ScrollView scrollBarIndicatorVisible="false">
    <StackLayout class="layout-gray">
        <Label class="h2 m-20" [text]="'Transfers.Homepage.HeaderText' | L" horizontalAlignment="left" verticalAlignment="center"></Label>
        <omro-business-partners-card></omro-business-partners-card>
        <omro-horizontal-button marginBottom="10" (onButtonTap)="onAddNewPartnerTap()">
            <Label icon text="&#xf067;" class="fas lbl-icon"> </Label>
            <Label text android:verticalAlignment="center" col="1" [text]="'Transfers.Homepage.AddNewPartnerButtonText' | L"></Label>
        </omro-horizontal-button>
        <ng-container *ngIf="(vm$ | async)?.accounts.length > 1">
            <omro-horizontal-button marginTop="10" marginBottom="20" [hasGreenIconBackground]="true">
                <SVGImage icon src="~/app/images/icon_exchange-white.svg" height="20" ios:width="16" android:width="20"></SVGImage>
                <StackLayout text col="1" verticalAlignment="center" (tap)="onTransferBetweenMyAccountsTapped()">
                    <Label [text]="'Transfers.Homepage.TransferBetweenMyAccounts.ButtonTitleText' | L"></Label>
                    <StackLayout orientation="horizontal">
                        <Label
                            class="h3 exchange-btn-title"
                            [text]="'Transfers.Homepage.TransferBetweenMyAccounts.ButtonDetailsText' | L"
                            textWrap="true"
                        ></Label>
                        <SVGImage src="~/app/images/icon_exchange-blue.svg" marginTop="-5" height="15" ios:width="12" android:width="15"></SVGImage>
                    </StackLayout>
                </StackLayout>
            </omro-horizontal-button>
        </ng-container>
    </StackLayout>
</ScrollView>
