@import '~/_app-variables.scss';
@import '~/styles/mixins.scss';

$custom-green: #76a800;

.action-btn {
  border-radius: 8;
  .text-label {
    margin-left: 10;
    margin-right: 5;
    color: $omro-white;
    font-size: $size-xs + $size-s;
  }
  .icon {
    @include circle(22);
    background-color: $custom-green;
    font-size: $size-m + $size-s;
    color: $omro-white;
  }

  &.green {
    background-color: $omro-green;
    ripple-color: lighten($omro-green, 5%);
  }

  &.navy {
    background-color: $omro-navy;
    ripple-color: lighten($omro-navy, 5%);
  }
}

.action-btn[isEnabled='false'] {
  background-color: $btn-color-disabled;
  .text-label {
    color: $btn-color-disabled-text;
  }
}
