@import "~/styles/_omro-main-colors.scss";

.omro-text-field {

  &.readonly {
    margin-top: 10;
    margin-bottom: 10;
  }
  .text-field {
    padding-left: 10;
    height: 45;
    border-width: 1;
    border-radius: 10;
    color: $omro-blackish;
    border-color: $omro-gray;
  }
  .letters-count {
    color: $omro-orange;
  }

  .readonly {
    color: $omro-gray-medium;
  }
}
