<StackLayout>
    <StackLayout class="bottom-sheet-slider"></StackLayout>
    <StackLayout class="bottom-sheet-layout" backgroundColor="white">
        <Label class="h3 text-center m-y-20" [text]="'EWallet.Configuration.TransactionLimit.DisplayName' | L"></Label>
        <StackLayout class="m-20" ios:marginBottom="40">
            <ng-container *ngFor="let limit of tradingLimits | async">
                <StackLayout class="payment-card" marginBottom="10">
                    <GridLayout class="m-10" rows="50" columns="auto, *, auto">
                        <StackLayout width="50" verticalAlignment="center">
                            <SVGImage [src]="getIconLocation(limit.icon)" height="60%" width="80%"></SVGImage>
                        </StackLayout>
                        <StackLayout col="1" marginLeft="10" verticalAlignment="center">
                            <Label class="title" textWrap="true" maxLines="2" [text]="(limit.currentAmount | number: '1.2') + ' lei'"> </Label>
                            <Label class="caption details" maxLines="2" [text]="limit.name | uppercase"></Label>
                        </StackLayout>
                        <Button class="btn btn-secondary small button-modify" marginRight="0" col="2" android:verticalAlignment="center" text="Modifica" (tap)="onModifyButtonTap(limit.id)">
                        </Button>
                    </GridLayout>
                </StackLayout>
            </ng-container>
        </StackLayout>
    </StackLayout>
</StackLayout>
