@import "~/styles/_omro-main-colors.scss";
@import "~/styles/mixins.scss";

$custom-gray: #9BA5AF;

.payment-card {
    background-color: $omro-gray-light;
    border-radius: 8;
}

.details {
    color: $custom-gray;
}

.payment-options {
    margin: 20, 0, 20, 0;
    color: $omro-gray;
}

.loan-status {
    color: $omro-green;
}

.button-modify {
    border-color: $omro-sky-dark;
    border-width: 2;
    width: 25%;
}