/* Add mobile styles for the component here.  */
@import '~/_app-variables.scss';
@import '~/styles/mixins.scss';
@import '~/styles/_omro-main-colors.scss';

.circle {
    vertical-align: center;
    horizontal-alignment: center;
    background-color: $omro-white;
    @include circle(40);
  }

  .tapable-area {
      @include square(60);
      vertical-align: center;
  }
  
  .status-container {
    @include circle(13);
    background-color: $omro-rose;
  }
  
  .switch {
    background-color: $omro-white;
    @include circle(25);
  }