@import '~/_app-variables.scss';

.card {
  padding-top: 10;
  padding-bottom: 20;
}

.card-section {
  margin-left: 20;
  margin-right: 20;
}

.card-state {
  horizontal-align: left;
  border-radius: 17;
  padding: 6 15 6 15;
  label {
    min-width: 40;
    color: $omro-white;
    @include text-medium();
  }

  &.stolen,
  &.destroyed {
    background-color: $omro-rose;
  }

  &.pending-issuing,
  &.not-activated,
  &.lost,
  &.do-not-honor {
    background-color: $omro-orange;
  }

  &.active {
    background-color: $primary;
  }
}
