<omro-card>
    <StackLayout class="card">
        <StackLayout [ngClass]="['card-section', 'card-state', model.cardState | kebabcase]" >
            <Label class="caption text-center" [text]="('EWallet.CardDetails.State.'+ model.cardState) | L" ></Label>
        </StackLayout>

        <GridLayout class="card-section m-t-10" columns="*, auto">
            <omro-info-field caption="{{ model.name }}">
                <omro-big-money [value]="model.balance" [currency]="model.currecyDisplayName"></omro-big-money>
            </omro-info-field>

            <omro-action-button col="1" width="100" [isEnabled]="uiState.canTop" [showIcon]="uiState.canTop" text="{{ 'EWallet.CardDetails.TopUp' | L }}" width="150"></omro-action-button>
        </GridLayout>

        <FlexboxLayout *ngIf="uiState.showLimits" class="card-section m-t-10" justifyContent="space-between" alignItems="flex-start">
            <ng-container *ngFor="let limit of model.limits.slice(0, 2)">
                <omro-info-field caption="{{ limit.name }}">
                    <Label class="title" text="{{ limit.amount | number: '1.2' }} {{ model.currecyDisplayName | lowercase }}"></Label>
                </omro-info-field>
            </ng-container>
        </FlexboxLayout>

        <StackLayout class="card-section m-y-20">
            <omro-credit-card [model]="cardVisual"></omro-credit-card>
        </StackLayout>

        <Label *ngIf="uiState.canShowDetails" class="lbl-action text-center m-t-10"
               text="{{ 'EWallet.CardDetails.Details' | L }}" (tap)="onShowDetailsTap()"></Label>
    </StackLayout>
</omro-card>
