<Label class="title account-transactions uppercase" [text]="'Accounts.Homepage.Transactions.HeaderText' | L"></Label>
<StackLayout class="main-container">
    <ng-container *ngFor="let transaction of transactions$ | async; let i = index">
        <StackLayout class="card-container" [class.odd]="i % 2 !== 0" (tap)="onTransactionTapped(transaction)">
            <GridLayout class="activity-card" rows="50" columns="auto, *, auto">
                <Label
                    *ngIf="transaction.categoryCode !== categoryCode.FX; else FX"
                    [text]="accountTransactionIconHintMapper[transaction.categoryCode]"
                    [className]="'ff icon ' + getIconClass(transaction.categoryCode)"
                ></Label>

                <ng-template #FX>
                    <SVGImage marginLeft="20" marginRight="10" [src]="accountTransactionIconHintMapper[transaction.categoryCode]" height="24" width="20"></SVGImage>
                </ng-template>
                <FlexboxLayout class="date-title" col="1">
                    <Label class="caption uppercase" [text]="transaction.bookedDate | date: 'dd MMMM yyyy'"></Label>
                    <Label class="h3" [text]="transaction.name" textWrap="true" maxLines="2"></Label>
                </FlexboxLayout>
                <Label col="2" android:verticalAlignment="center" marginRight="10">
                    <FormattedString>
                        <span class="h3 amount" [class.positive]="transaction.amount > 0" [text]="transaction.amount | number: '1.2'"></span>
                        <span class="h3 currency" [text]="' ' + transaction.currencyCode | lowercase"></span>
                    </FormattedString>
                </Label>
            </GridLayout>
            <StackLayout class="hr"></StackLayout>
        </StackLayout>
    </ng-container>
</StackLayout>
