@import '../../../../app-variables';
.key-button {
  border-radius: 50;
  background-color: $omro-white;
  font-size: 32;
  android-elevation: 0;
  width: 65;
  height: 65;
  margin: 2 2 2 2;
  color: $omro-navy;
  &:highlighted {
    background-color: $omro-sky;
    android-elevation: 0;
  }
}
