<GridLayout columns="*,*,*" rows="auto,auto,auto,auto">
    <GridLayout col="0" row="0">
        <Button (tap)="onTap('1')" class="key-button" text="1"></Button>
    </GridLayout>
    <GridLayout col="1" row="0">
        <Button (tap)="onTap('2')" class="key-button" text="2"></Button>
    </GridLayout>
    <GridLayout col="2" row="0">
        <Button (tap)="onTap('3')" class="key-button" text="3"></Button>
    </GridLayout>

    <GridLayout col="0" row="1">
        <Button (tap)="onTap('4')" class="key-button" text="4"></Button>
    </GridLayout>
    <GridLayout col="1" row="1">
        <Button (tap)="onTap('5')" class="key-button" text="5"></Button>
    </GridLayout>
    <GridLayout col="2" row="1">
        <Button (tap)="onTap('6')" class="key-button" text="6"></Button>
    </GridLayout>

    <GridLayout col="0" row="2">
        <Button (tap)="onTap('7')" class="key-button" text="7"></Button>
    </GridLayout>
    <GridLayout col="1" row="2">
        <Button (tap)="onTap('8')" class="key-button" text="8"></Button>
    </GridLayout>
    <GridLayout col="2" row="2">
        <Button (tap)="onTap('9')" class="key-button" text="9"></Button>
    </GridLayout>

    <GridLayout col="0" row="3" rows="65">
        <ng-container *ngTemplateOutlet="leftKeyTemplate" ></ng-container>
    </GridLayout>
    <GridLayout col="1" row="3">
        <Button (tap)="onTap('0')" class="key-button" text="0"></Button>
    </GridLayout>
    <GridLayout  col="2" row="3" rows="65">
        <ng-container *ngTemplateOutlet="rightKeyTemplate" ></ng-container>
    </GridLayout>
</GridLayout>
