<DockLayout *ngIf="vm">
    <StackLayout dock="top" class="close-button-container" *ngIf="vm.showCloseSection" horizontalAlignment="right" (tap)="onClosed()">
        <SVGImage class="close_icon" src="~/app/images/icon_close.svg"></SVGImage>
    </StackLayout>
    <Button dock="bottom" marginBottom="20" (tap)="onActionButtonTapped()" text="{{ vm.actionButtonText }}" class="btn btn-primary" marginTop="20"></Button>
    <StackLayout class="m-20">
        <Label class="title" class="h2" text="{{ vm.title }}" horizontalAlignment="left"></Label>
        <SVGImage [src]="vm.imageSource" width="250" height="214" marginTop="30"></SVGImage>
        <Label class="description" marginTop="40" text="{{ vm.description }}" textWrap="true"></Label>
    </StackLayout>
</DockLayout>
