/* Add mobile styles for the component here.  */
@import "~/_app-variables.scss";

.currency {
  color: $text-color-caption;
  font-size: 20;
  margin: 7 0 0 -3;
  vertical-align: center;
}

.interest {
  color: $omro-sky-dark;
}

.alternate-interest {
  text-decoration: line-through;
  color: $omro-gray-dark;
  font-size: $size-s + 2;
  @include text-medium();
}

.card-container {
  background-color: $omro-gray-light;

  .card {
    margin-bottom: 10;
  }

  .card-layout {
    margin: 20 20 10 20;

    .card-section {
      margin-bottom: 10;
    }
  }
}

Button {
  margin-left: 0;
  margin-right: 0;
}

