@import '~/_app-variables.scss';

label {
  color: $omro-white;
}

.credit-card-layout {
  background-color: $omro-sky-dark;
  border-radius: 8;
  padding: 10 15 10 15;
  width: 300;
  height: 160;
}

.credit-card-logo {
  horizontal-align: left;
  vertical-align: top;
  width: 55;
  height: 20;
}

.credit-card-number {
  font-size: 24;
  vertical-align: center;
  @include text-regular();
}
