<GridLayout class="credit-card-layout" rows="*,*,*" [backgroundColor]="model.bgColor || appColors.SkyDark">
    <SVGImage class="credit-card-logo" [src]="'~/app/images/filbo_white.svg'"></SVGImage>

    <FlexboxLayout row="1" flexDirection="row" justifyContent="space-between">
        <Label *ngFor="let group of [0,1,2,3]"
               class="h2 credit-card-number" text="{{getDigitGroup(group)}}"></Label>
    </FlexboxLayout>
    <FlexboxLayout row="2" flexDirection="row" justifyContent="space-between">
        <StackLayout verticalAlignment="center" orientation="horizontal">
            <omro-info-field caption="VALID THRU" [captionColor]="appColors.White">
                <Label text="{{model.expiryMonth}} / {{model.expiryYear}}"></Label>
            </omro-info-field>
            <omro-info-field caption="CVV" class="m-l-30" [captionColor]="appColors.White">
                <Label text="{{model.cvv}}"></Label>
            </omro-info-field>
        </StackLayout>

        <Image *ngIf="model.processor" src="res://{{model.processor | lowercase}}" width="50"></Image>
    </FlexboxLayout>
</GridLayout>
