/* Add mobile styles for the component here.  */
@import '../../../../app-variables';
@import '~/styles/_omro-main-colors.scss';

.dropdown-editor {
  background-color: $omro-white;
  height: 50;
  border-width: 1;
  border-radius: 10;
  border-color: $omro-gray;

  &.selected {
    border-width: 1;
    border-color: $mtextfield-color-border;
  }
  &.invalid {
    border-width: 1;
    border-color: $error-dark;
  }

  .inner-text {
    margin: 0 10 0 20;
    vertical-align: center;
    &.selected {
      color: $text-color;
    }
    &.placeholder {
      color: $omro-gray;
    }
  }

  .caret {
    font-size: 20;
    font-weight: $font-weight-medium;
    vertical-align: center;
  }
}

.readonly {
  color: $omro-gray-medium;
  margin-bottom: 20;
}
