<StackLayout class="mtextfield-layout-border" [class.visible]="hasFocus && hasSelectionBorder">
<GridLayout rows="auto" class="mtextfield-layout" [class.selected]="hasFocus">
    <Label #label row="1" class="mtextfield-layout-label" [text]="placeholder" fontSize="15" horizontalAlignment="left"></Label>
    <TextField
        #textField
        #textValue="ngModel"
        row="1"
        class="input"
        [keyboardType]="keyboardType"
        [returnKeyType]="returnKeyType"
        [secure]="secure"
        [maxLength]="maxLength"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (returnPress)="onReturnPress()"
        [(ngModel)]="value"
        [autocorrect]="autocorrect"
        [autocapitalizationType]="autocapitalizationType"
    ></TextField>
</GridLayout>
</StackLayout>
