<StackLayout>
    <Label text="{{ field.label }}"></Label>
    <StackLayout
    marginTop="5"
            (tap)="onTap()"
            *ngIf="!isReadOnly else readonly"
            class="dropdown-editor"
            orientation="vertical">
        <GridLayout columns="*,35">
            <Label [text]="labelText" class="selectedItem" col="0" [class.placeholder]="isPlaceHolder"></Label>
            <Label class="fas caret" col="1" text="&#xf107;"></Label>
        </GridLayout>
    </StackLayout>
    <ng-template #readonly>
        <Label class="readonly" text="{{field.possibleValues[field.submittedValue]}}" textWrap="true"></Label>
    </ng-template>
</StackLayout>
