<StackLayout *ngIf="vm">
    <Label class="m-20 title" [text]="'Profile.Companies.Header' | L"></Label>
    <StackLayout marginBottom="20" shadow [elevation]="6">
        <GridLayout *ngFor="let company of vm.companies">
            <StackLayout class="company-card">
                <GridLayout class="company-card-content" rows="auto, auto, auto" columns="auto, *, auto">
                    <GridLayout columns="auto, auto" marginRight="10">
                        <StackLayout colSpan="2" class="company-image" verticalAlignment="center">
                            <img src="res://building" width="30" height="30" horizontalAlignment="center" />
                        </StackLayout>
                        <StackLayout col="1" verticalAlignment="bottom" horizontalAlignment="right" marginBottom="7">
                            <omro-kyc-status [isKYCDataAvailable]="isMappedAndHasKycDone(company)"></omro-kyc-status>
                        </StackLayout>
                    </GridLayout>
                    <Label
                        class="title"
                        verticalAlignment="center"
                        col="1"
                        maxLines="2"
                        [text]="company.customer.customerName | uppercase"
                        textWrap="true"
                    ></Label>
                    <StackLayout
                        *ngIf="canShowContextualMenu(company)"
                        height="30"
                        width="30"
                        col="2"
                        marginLeft="10"
                        verticalAlignment="center"
                        (tap)="onCompanyContextualMenuTap(company, vm.currentCompany?.customer.customerId)"
                    >
                        <SVGImage horizontalAlignment="center" src="~/app/images/more.svg" height="5" width="20"></SVGImage>
                    </StackLayout>
                    <Label
                        *ngIf="company.customer.actionText"
                        row="1"
                        col="1"
                        [text]="company.customer.actionText"
                        textWrap="true"
                        color="#FB6701"
                        fontSize="13"
                        marginBottom="20"
                    ></Label>
                    <!--<Button
                        row="2"
                        col="1"
                        class="btn btn-primary small"
                        marginBottom="20"
                        marginLeft="0"
                        marginTop="0"
                        horizontalAlignment="left"
                        *ngIf="company.customer.isActionButtonVisible"
                        [text]="company.customer.actionButtonText"
                        (tap)="onCompanyActionButtonTap(company.customer.customerId)"
                    ></Button>-->
                </GridLayout>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>
