@import '~/styles/_omro-main-colors.scss';
@import '~/styles/mixins.scss';

.company-card {
    background-color: $omro-white;
    .company-card-content {
      margin: 0, 10, 0, 20;
    }
    .company-image {
      width: 65;
      height: 65;
    }
    .status-container {
      background-color: $omro-white;
      @include circle(25);
      .status-circle {
        background-color: $omro-green;
        @include circle(20);
        text-align: center;
      }
    }
  }