<FlexboxLayout class="page" flexDirection="column" justifyContent="space-between">
    <GridLayout rows="auto" columns="*,auto,*">
        <SVGImage class="uvp-logo" col="1" [src]="'~/app/images/filbo.svg'"></SVGImage>
    </GridLayout>

    <StackLayout class="m-t-10">
        <StackLayout class="m-x-10">
            <omro-pin-view [showFocus]="showPinFocus"></omro-pin-view>
            <ValidationError [errorMessage]="errorMessage"></ValidationError>
        </StackLayout>
    </StackLayout>

    <StackLayout style="margin: 10 20 30 20">
        <omro-phone-keyboard [leftKeyTemplate]="leftKeyTemplate" [rightKeyTemplate]="bio"></omro-phone-keyboard>
    </StackLayout>
</FlexboxLayout>


<ng-template #bio>
    <Image *ngIf="biometric.touch" src="res://touchidicon24" width="80" verticalAlignment="center" (tap)="onTapBiometric()"></Image>
    <Image *ngIf="biometric.face && !biometric.touch" src="res://faceidicon" width="40" verticalAlignment="center" (tap)="onTapBiometric()"></Image>
</ng-template>
