<ng-container *ngIf="activities.length > 0">
    <Label
    class="h3 loan-activities uppercase"
    text="{{ 'CreditRequest.Homepage.LoanActivitiesSectionLabelText' | L }}"
    ></Label>
    <StackLayout class="main-container">
        <ng-container *ngFor="let activity of activities; let i = index">
            <StackLayout class="card-container" [class.odd]="i % 2 !== 0">
                <GridLayout class="activity-card m-10" rows="50" columns="auto, *, auto">
                    <Label [text]="loanActivityIconHintMapper[activity.iconHint]" class="ff icon"></Label>
                    <FlexboxLayout class="date-title" col="1">
                        <Label class="caption uppercase" [text]="activity.activityDate | date: 'dd MMMM yyyy'"></Label>
                        <Label class="h3" [text]="activity.title" textWrap="true" maxLines="2"></Label>
                    </FlexboxLayout>
                    <Label col="2" android:verticalAlignment="center">
                        <FormattedString>
                            <span class="amount" [class.positive]="activity.amount > 0" [text]="activity.amount | number: '1.2'"></span>
                            <span class="h3 currency" [text]="' ' + activity.currencyDisplayName"></span>
                        </FormattedString>
                    </Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>
        </ng-container>
    </StackLayout>
</ng-container>>