<GridLayout rows="auto, auto, auto" columns="auto, *">
    <GridLayout columns="auto, auto" marginRight="10">
        <StackLayout colSpan="2" class="company-image" verticalAlignment="top">
            <img src="res://building" width="30" height="30" horizontalAlignment="left" />
        </StackLayout>
        <StackLayout col="1" verticalAlignment="bottom" horizontalAlignment="right">
            <omro-kyc-status [isKYCDataAvailable]="true"></omro-kyc-status>
        </StackLayout>
    </GridLayout>
    <Label class="title" col="1" maxLines="4" textWrap="true" [text]="accountName | uppercase"></Label>
</GridLayout>
