<GridLayout [rows]="rows" columns="auto,*">

    <ng-container *ngFor="let item of stages;let i = index" >

        <!-- Bullet -->
        <GridLayout class="cell" [row]="i * 2" [ngClass]="getClass(item,i)">
            <StackLayout class="bullet"></StackLayout>
            <Label *ngIf="item.state === 'Finished'" class="fas cell-icon" text="&#xf00c;" ></Label>
            <Label *ngIf="item.state === 'InProgress'" class="fas cell-icon" text="&#xf021;" ></Label>
        </GridLayout>
        <!-- Bullet -->

        <!-- Content -->
        <StackLayout class="stage" orientation="horizontal" [row]="i * 2" col="1"
                     [ngClass]="getClass(item,i)">
            <Label [text]="item.title" class="title stage-title" ></Label>
        </StackLayout>
        <!-- Content -->

        <!-- Line -->
        <StackLayout verticalAlignment="stretch" orientation="horizontal"  [row]="i * 2 + 1"
                     [ngClass]="getClass(item,i)" *ngIf="!isLastRow(i)" >
            <StackLayout class="line" verticalAlignment="stretch"></StackLayout>
        </StackLayout>
        <!-- Line -->

    </ng-container>

</GridLayout>
