@import "../../../../../app-variables";

$cell-sz: 24;

.cell {
  width: $cell-sz * 1.5;
}

.cell-icon{
  font-size: 12;
  horizontal-align: center;
  vertical-align: center;
  color:$primary;
}

.cell-top {
  height: $cell-sz * 0;
}

.cell-bottom {
  height: $cell-sz * 0;
  margin-top: $cell-sz * 0.75;
}

.bullet {
  border-radius: $cell-sz;
  width: $cell-sz;
  height: $cell-sz;
  background-color: transparent;
  border-color: $primary;
  border-width: 2;
  margin-left: $cell-sz * 0.25;
  margin-right: $cell-sz * 0.25;
}

.bullet-outline {
  border-radius: $cell-sz * 0.5;
  width: $cell-sz - 2;
  height: $cell-sz - 2;
  border-color: $secondary;
  border-width: 2;
  margin: 1 1 1 1;
}

.line {
  width: 2;
  height: 10;
  background-color: $primary;
  margin-left: ($cell-sz * 0.75) - 1;
}

.stage {
  margin-left: 10;
  min-height: 40;
  vertical-align: stretch;
}

.stage-title {
  vertical-align: center;
}

.stage-content {
  margin: 10 0 10 0;
  border-radius: 5;
  background-color: $page-back-color;
  padding:5 10 5 10;
  Label {
    color: $primary;
  }
}

.first .cell-top {
  visibility: collapsed;
}

.last .cell-bottom {
  visibility: collapsed;
}

.in-progress {
  .bullet {
    border-color: $omro-sky-dark;
    width: $cell-sz * 1.5;
    height: $cell-sz * 1.5;
    margin:0;
  }

  .line {
    background-color: $text-color-caption;
  }

  .cell-icon{
    color: $omro-sky-dark;
    font-size: 18;
    font-weight: 100;
  }

  .cell-top {
    visibility: collapsed;
  }

  .cell-bottom {
    visibility: collapsed;
  }

  .stage-title {
    color: $omro-sky-dark;
  }
}

.not-started {
  .bullet {
    border-color: $text-color-caption;
  }
  .line {
    background-color: $text-color-caption;
  }
  .stage-title {
    color: $text-color-caption;
  }
}
