<ScrollView class="layout-gray">
    <StackLayout class="layout-gray m-t-10" *ngIf="loaded$ | async">
        <GridLayout rows="auto" class="m-x-10">
            <Label class="h2" text="Credite" horizontalAlignment="left"></Label>
            <StackLayout *ngIf="(loans$ | async)?.length > 1" (tap)="onSwitchLoanTap()" horizontalAlignment="right">
                <GridLayout columns="auto, auto" android:marginRight="10">
                    <StackLayout colSpan="2" class="circle">
                        <StackLayout class="switch" verticalAlignment="center">
                            <SVGImage src="~/app/images/switch.svg" height="20" width="20"></SVGImage>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout col="1" verticalAlignment="top" horizontalAlignment="right">
                        <StackLayout class="status-container"> </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>

        <ng-container *ngIf="state$ | async as state">
            <!-- Active Loan Card -->
            <StackLayout >
                <ng-container *ngIf="state.activeLoanCard">
                    <omro-loan-card [loan]="currentLoan$ | async"></omro-loan-card>
                </ng-container>
            </StackLayout>
            <!-- Active Loan Card -->

            <!-- Eligible Standard Product Card -->
            <StackLayout >
                <ng-container *ngIf="state.eligibleStandardProductCard">
                    <omro-eligible-standard-product [eligibleProduct]="eligibleStandardProduct$ | async"></omro-eligible-standard-product>
                </ng-container>
            </StackLayout>
            <!-- Eligible Standard Product Card -->

            <!-- Single Request In Progress -->
            <StackLayout>
                <omro-card class="card" *ngIf="state.singleRequest">
                    <omro-credit-overview [product]="singleRequestInProgress$ | async" (productRequestCancelled)="onProductRequestCancelled()"></omro-credit-overview>
                </omro-card>
            </StackLayout>
            <!-- Single Request In Progress -->

            <!-- Multiple Requests In Progress -->
            <StackLayout>
                <ng-container *ngIf="state.multipleRequests">
                    <omro-card class="card small" *ngFor="let request of (ui$ | async).requestsInProgress">
                        <omro-small-card
                                details="{{ request.description }}"
                                imageSrc="~/images/new-loan.svg"
                                buttonText="{{ 'Common.Continue' | L }}"
                                (buttonTap)="onCreditTap(request.productRequestId)"
                        ></omro-small-card>
                    </omro-card>
                </ng-container>
            </StackLayout>
            <!-- Multiple Requests In Progress -->

            <!-- New Loan Card -->
            <StackLayout>
                <omro-card *ngIf="state.newLoadCard" class="card small">
                    <omro-small-card
                        details="{{ (eligibleStandardProduct$ | async).secondaryDetails }}"
                        imageSrc="~/images/new-loan.svg"
                        buttonText="{{ 'CreditRequest.NewCredit' | L }}"
                        (buttonTap)="onNewLoanTap()"
                    ></omro-small-card>
                </omro-card>
            </StackLayout>
            <!-- New Loan Card -->

            <!-- Activities list -->
            <StackLayout >
                <ng-container *ngIf="state.activeLoanCard">
                    <omro-loan-activities [activities]="currentActivitiesList$ | async "></omro-loan-activities>
                </ng-container>
            </StackLayout>
            <!-- Activities list -->
        </ng-container>
    </StackLayout>
</ScrollView>
