<ScrollView scrollBarIndicatorVisible="false">
    <StackLayout class="layout-gray" *ngIf="vm$ | async as vm">
        <GridLayout class="m-t-10" rows="auto">
            <Label class="h2 m-x-20" [text]="'Accounts.Homepage.HeaderText' | L" horizontalAlignment="left" verticalAlignment="center"></Label>

            <StackLayout class="tapable-area" *ngIf="vm.accounts?.length > 1" (tap)="onSwitchButtonTap()" horizontalAlignment="right">
                <StackLayout class="circle">
                    <StackLayout class="switch" verticalAlignment="center">
                        <SVGImage src="~/app/images/switch.svg" height="20" width="20"></SVGImage>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>
        <ng-container *ngIf="vm.uiState.hasAccount; else noAccount">
            <omro-account-card [vm]="vm.currentAccount"></omro-account-card>
            <omro-add-account-button *ngIf="vm.uiState.isEligibleForAccount" (addCardPressed)="onShowCardSelectionButtonTap()"></omro-add-account-button>
            <ng-container *ngIf="(transactions$ | async)?.length > 0">
                <omro-transactions-card (transactionTap)="onTransactionTapped($event)"></omro-transactions-card>
            </ng-container>
        </ng-container>
        <ng-template #noAccount>
            <omro-new-account-starting-page [eligiblesCurrenciesVm]="vm.eligibleCurrencies"></omro-new-account-starting-page>
        </ng-template>
    </StackLayout>
</ScrollView>
