@import '~/styles/_omro-main-colors.scss';
@import '~/styles/mixins.scss';
@import '~/styles/_sizes.scss';

.main-container-border {
  @include square(35);
  border-width: 2;
  border-radius: 12;
  border-color: $omro-gray-light;
  margin-right: 10;
  vertical-align: top;
  &.invalid {
    border-color: $omro-red;
  }
  .main-container {
    @include square(35);
    border-width: 2;
    border-radius: 10;
    vertical-align: center;
    horizontal-alignment: center;
    border-color: $omro-green;
    .icon-check {
      padding-top: 2;
      color: $omro-white;
      font-size: $size-m;
      text-align: center;
    }
    &.checked {
      background-color: $omro-green;
    }

    &.readonly {
      border-color: $omro-gray-medium;
      background-color: $omro-gray-medium;
    }
  }
}

.default-text {
  &.readonly {
    color: $omro-gray-medium;
  }
}
