@import "~/_app-variables.scss";
@import "~/styles/_omro-main-colors.scss";
@import "~/styles/mixins.scss";
@import "~/styles/_sizes.scss";

.page {
  background-color: $omro-gray-light;
  .details-card {
    background-color: $omro-white;
    border-radius: 8;
  }
  .actions-section {
    margin: 20;
    .name-details-section {
      @include flex-design(column, space-around);
    }

    .document-title{
      @include text-medium();
      font-size: $size-s + 2;
      color: $omro-navy;
      vertical-align: center;
    }

    .next-icon {
      font-size: $size-m;
      margin-right: 10;
    }

    .card-btn {
      margin-right: 0;
      margin-left:0;
      width: 90;
    }
  }
}
