<GridLayout height="100%">
    <FlexboxLayout class="main-container m-20" marginBottom="15%">
        <StackLayout [height]="isTablet ? '75%' : '60%'" width="100%" horizontalAlignment="center">
            <image src="res://{{ imageName }}"></image>
        </StackLayout>
        <StackLayout>
            <label class="h2 lbl-title" [text]="title" textWrap="true"></label>
            <label class="h3 lbl-description" [text]="description" textWrap="true" marginTop="10"></label>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>
