<DockLayout>
    <StackLayout class="page-section" dock="bottom">
        <Label class="btn btn-link text-center" text="{{ 'Common.Close' | L }}" (tap)="onTap()"></Label>
    </StackLayout>

    <FlexboxLayout flexDirection="column" alignItems="stretch" justifyContent="space-around" dock="top">
        <Image width="85%" class="page-section m-t-20" src="res://emailsent"></Image>

        <FlexboxLayout flexDirection="column" alignItems="center">
            <Label class="h2 page-section" text="Resetare parolă"></Label>

            <Label class="page-section text-center" text="Verifică email-ul pentru a continua procesul de resetare parolă" textWrap="true"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</DockLayout>
