@import '~/styles/_sizes.scss';
@import '~/styles/_omro-main-colors.scss';
@import '~/styles/mixins.scss';

.setting-container {
  background-color: $omro-white;
  .settings {
    .settings-section-row {
      background-color: $omro-white;
      margin-left: 20;
      @include flex-design(row, space-between);

      .section-icon {
        color: $omro-gray;
        font-size: $size-l;
      }
      .section-name {
        color: $omro-navy;
      }

      .section-description {
        color: $omro-gray;
      }
      &.last-child {
        height: 70;
        .section-icon {
          color: $omro-rose;
        }
        .section-name {
          color: $omro-rose;
        }
      }
      .biometric-switch {
        color: $omro-green;
        &.disabled {
          color: $omro-gray;
        }
      }
    }
  }
}
