$omro-green: #88bc08;
$omro-green-dark: #195e42;
$omro-green-light: #afce72;

$omro-sky: #c6eeff;
$omro-sky-dark: #54c0ee;

$omro-black: #1c1c1c;
$omro-black-light: #000033;
$omro-blackish: #1B3F74;
$omro-navy: #1b3f74;

$omro-red: #cc1b00;
$omro-red-dark: #CB0000;
$omro-rose: #ea0076;
$omro-rose-light: #ffd1e8;
$omro-orange: #f67100;

$omro-white: #ffffff;

$omro-gray: #d6d9e0;
$omro-gray-light: #f4f4f4;
$omro-gray-medium: #9e9e9e;
$omro-gray-dark: #727272;

$omro-pink: #B5B7C7;
$omro-dark-navy: #131C4D;
