.bottom-sheet-slider {
  height: 4;
  width: 52;
  background-color: $omro-white;
  opacity: 0.6;
  border-radius: 5;
  margin-bottom: 10;
}

.bottom-sheet-layout {
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  background-color: $omro-white;
}
