/* Add mobile styles for the component here.  */
@import "../../../app-variables";

.phone-number {
  background-color: $mtextfield-color-background;
  border-radius: 5;  
  height: 50;

  &.selected{
    border-width: 2;
    border-color: $mtextfield-color-border;
  }
  &.invalid{
    border-width: 2;
    border-color: $error-dark;
  }
  .prefix {
    margin: 0 10 0 20;
    vertical-align: center;
  }

  .separator {
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 1;
    border-color: $omro-gray-dark;
    vertical-align: center;
    widows: 2;
    height: 35;
    margin-left: 5;
  }
  .caret{
    font-size: 20;
    font-weight: $font-weight-medium;
    vertical-align: center;
  }
  .text-field {
    ::ng-deep .selected {
        border-color: transparent;        
      }    
    }
  }

.label-up{
  transform:translate(0,-15) scale(0.75,0.75);
}

