<DockLayout>
    <Image dock="top" class="close-button m-10" ios:src="res://navigation/close"
           android:src="res://close" width="35" height="35" horizontalAlignment="right"
           (tap)="close()">
    </Image>
    <Button dock="bottom" (tap)="close()"
            text="{{'Common.Next' | L}}"
            class="btn btn-primary"
            height="52"
            marginTop="40"></Button>
    <StackLayout class="m-20">
        <Label class="title" class="h2" text="Succes!"
               horizontalAlignment="left"></Label>
        <SVGImage [src]="'~/app/images/company_setup_success.svg'" height="50%" width="80%"
        ></SVGImage>
        <Label class="h3" marginTop="20" text="Te rog sa introduci codul trimis prin SMS la numărul 0722 222 222" textWrap="true"></Label>
    </StackLayout>

</DockLayout>
