.select-date {
  border-radius: 10;
}

.title-select-date {
  padding: 16 0 4 0;
  text-align: center;
  font-weight: 500;
}

.select-label {
  font-size: 16;
  margin-right: 20;
}

.field-name-lbl {
  font-size: 14;
  horizontal-align: center;
}

.date-picker {
  vertical-align: middle;
}

.btn-container {
  margin-right: 30;
  margin-bottom: 30;
  margin-left: 15;
  Label {
    text-transform: uppercase;
  }

}
