<StackLayout>
    <GridLayout *ngIf="!model.minimized && !model.showBackButton" columns="60,*,60" rows="auto">
        <Label *ngIf="model.showProgressValue" col="0" className="h4 stepNo" [text]="model.stepProgressText"
               verticalAlignment="bottom"></Label>
        <omro-close-button col="2" (tapClose)="close()"></omro-close-button>
    </GridLayout>
    <GridLayout *ngIf="!model.minimized && model.showBackButton" columns="60,*,60" rows="auto">
        <SVGImage
                ios:width="13"
                ios:height="23"
                android:width="23"
                android:height="23"
                class="icon_back"
                src="~/app/images/icon_back.svg"
                col="0"
                (tap)="goBack()"
        ></SVGImage>
        <Label col="1" className="h3 stepNo" [text]="model.stepProgressText"
               verticalAlignment="bottom" horizontalAlignment="center"></Label>
        <omro-close-button col="2" (tapClose)="close()"></omro-close-button>
    </GridLayout>
    <Progress *ngIf="model.showProgressValue" [value]="model.progressValue" [maxValue]="model.maxValue"
        ios:marginTop="10" android:marginTop="5" android:marginBottom="-6"></Progress>
</StackLayout>

