<StackLayout>
    <StackLayout class="bottom-sheet-slider"></StackLayout>
    <StackLayout class="bottom-sheet-layout">
        <GridLayout class="m-y-20" rows="auto, auto">
            <GridLayout class="m-x-10" columns="auto, *, auto">
                <image class="close-button" ios:src="res://navigation/close" android:src="res://close" width="35" height="35" (tap)="onCloseSelectDate(true)">
                </image>
                <label paddingLeft="20" paddingRight="20" col="1" [text]="params.context.field.label" class="field-name-lbl" className="field-name-lbl"></label>
                <label col="2" text="Select" class="title-select-date" className="select-label" (tap)="onCloseSelectDate(false)"></label>
            </GridLayout>

            <DatePicker row="1" [(ngModel)]="dateSelector" verticalAlignment="center"></DatePicker>
        </GridLayout>
    </StackLayout>
</StackLayout>
