@import '~/styles/_omro-main-colors.scss';


  .title-select-date {
    text-align: center;
    color: $omro-navy;
    font-weight: 500;
  }

  .select-label {
    color: $omro-sky-dark;
    font-size: 16;
  }

  .field-name-lbl {
    color: $omro-navy;
    font-size: 14;
    horizontal-align: center;
  }
