<StackLayout>
    <BackButton (backWasPressed)="goBack()"></BackButton>
    <StackLayout>
        <omro-generic-pin
            #genericPin
            title="{{ 'Profile.Pin.Confirm.Title' | L }}"
            description="{{ 'Profile.Pin.Confirm.Description' | L }}"
            (codeEntered)="validatePIN($event)"
        >
        </omro-generic-pin>
        <StackLayout minHeight="30">
            <ValidationError
                *ngIf="!!genericPinComponent && genericPinComponent.pin.valid === false"
                class="text-center"
                errorMessage="{{ 'Profile.Pin.Confirm.Error' | L }}"
            >
            </ValidationError>
            <SuccessMessage
                class="text-center"
                *ngIf="!!genericPinComponent && genericPinComponent.pin.valid === true"
                successMessage="{{ 'Profile.Pin.Confirm.Success' | L }}"
            >
            </SuccessMessage>
        </StackLayout>
    </StackLayout>
</StackLayout>
