<StackLayout [elevation]="6" class="main-container" cornerRadius="15" shadow>
    <ng-container *ngIf="isEligibleForAccount else notEligibleForAccount">
        <GridLayout class="card-container" rows="auto">
            <StackLayout verticalAlignment="center">
                <StackLayout className="m-20">
                    <GridLayout height="270" horizontalAlignment="center" stretch="fill" marginTop="50">
                        <img class="imageAnimation" height="270" src="res://createaccount_ro"/>
                    </GridLayout>
                </StackLayout>

                <Button (tap)="onValidateTap()"
                        text="{{'Accounts.Homepage.ButtonText_NewAccount' | L}}"
                        [width]="isTablet ? '50%' : '90%'"
                        class="btn btn-primary"
                        marginTop="40"
                        marginBottom="25"
                ></Button>
            </StackLayout>
        </GridLayout>
    </ng-container>
    <ng-template #notEligibleForAccount>
        <GridLayout class="card-container" rows="auto">
            <StackLayout verticalAlignment="center">
                <StackLayout className="m-20">
                    <GridLayout height="270" horizontalAlignment="center" stretch="fill" marginTop="50">
                        <img class="imageAnimation" height="270" src="res://createaccount_ro"/>
                    </GridLayout>
                    <Label text="{{eligiblesCurrenciesVm.notEligibleReason}}" marginTop="30"></Label>
                </StackLayout>

                <Button (tap)="onOkTapped()"
                        text="{{'Common.Ok' | L}}"
                        [width]="isTablet ? '50%' : '90%'"
                        class="btn btn-primary"
                        marginTop="40"
                        marginBottom="25"
                ></Button>
            </StackLayout>
        </GridLayout>
    </ng-template>
</StackLayout>

