@import '~/_app-variables';
@import '~/styles/_omro-main-colors.scss';
@import '~/styles/_sizes.scss';

// Material number field
.ntextfield-border {
  border-width: 2;
  border-color: transparent;
  &.visible {
    border-width: 2;
    border-color: lighten($omro-sky-dark, 30%);
    border-radius: 9;
  }
}
.ntextfield {
  border-radius: 8;
  background-color: $omro-gray-light;
  width: 23%;
  height: 80;
  .input {
    height: 100%;
    font-size: $size-l;
    border-bottom-width: 1;
    border-bottom-color: transparent;
    color: $text-color;
    text-align: center;
    @include text-medium();
  }
  &.focus {
    border-width: 2;
    border-color: $omro-sky-dark;
  }
}
