<StackLayout>
    <ng-container *ngIf="isInProgressOrFinished; else switch">
        <omro-close-button class="pull-right" (tapClose)="goBack()"></omro-close-button>
        <StackLayout class="main-container">
            <RadRadialGauge class="progress">
                <RadialScale tkRadialGaugeScales startAngle="-90" sweepAngle="360" minimum="0" maximum="120" radius="0.9">
                    <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false"></ScaleStyle>

                    <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="120" location="1">
                        <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#F4F4F4" barWidth="0.1"></BarIndicatorStyle>
                    </RadialBarIndicator>

                    <RadialBarIndicator #indicator tkRadialScaleIndicators minimum="0" maximum="0" location="1" isAnimated="true">
                        <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="#76A800" barWidth="0.1"></BarIndicatorStyle>
                    </RadialBarIndicator>
                </RadialScale>
            </RadRadialGauge>
            <ng-container *ngIf="time < 6; else consumed">
                <Label class="h2 text-center m-20" text="{{ 'ProductRequest.CheckOfferStatus.InProgressInfoLabel' | L }}"></Label>
            </ng-container>
            <ng-template #consumed>
                <Label class="h2 text-center m-20" text="{{ 'ProductRequest.CheckOfferStatus.InProgressTimeExceededInfoLabel' | L }}" textWrap="true"></Label>
                <Label class="h3 text-center m-10" text="{{ 'ProductRequest.CheckOfferStatus.InProgressTimeExceededSecondInfoLabel' | L }}"></Label>
            </ng-template>
        </StackLayout>
        <Button
            *ngIf="time >= 6"
            class="btn btn-primary "
            text="{{ 'ProductRequest.CheckOfferStatus.InProgressTimeExceededButtonText' | L }}"
            (tap)="goBack()"
        ></Button>
    </ng-container>

    <ng-template #switch>
        <StackLayout [ngSwitch]="needsManualApproval">
            <ng-container *ngSwitchCase="true">
                <DockLayout>
                    <omro-close-button class="pull-right" (tapClose)="goBack()" dock="top"></omro-close-button>
                    <Button class="btn btn-primary " text="{{ 'Common.Close' | L }}" (tap)="goBack()" dock="bottom" marginBottom="30"></Button>
                    <StackLayout>
                        <Label class="h2 m-20" text="{{ 'ProductRequest.CheckOfferStatus.NeedsManualApprovalHeader' | L }}" textWrap="true"></Label>
                        <StackLayout height="100%" verticalAlignment="center">
                            <StackLayout class="m-20">
                                <SVGImage [src]="'~/app/images/new_loan_resolution_offline.svg'" width="70%" height="50%"></SVGImage>
                            </StackLayout>
                            <Label class="h3 m-20" text="{{ 'ProductRequest.CheckOfferStatus.NeedsManualApprovalInfoLabel' | L }}" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </DockLayout>
            </ng-container>

            <ng-container *ngSwitchCase="false">
                <DockLayout>
                    <omro-close-button class="pull-right" (tapClose)="redirectToHome()" dock="top"></omro-close-button>
                    <Button class="btn btn-primary " text="{{ 'Common.Close' | L }}" (tap)="redirectToHome()" dock="bottom" marginBottom="30"></Button>
                    <StackLayout>
                        <Label class="h2 m-20" text="{{ 'ProductRequest.CheckOfferStatus.RejectedHeader' | L }}" textWrap="true"></Label>
                        <StackLayout height="100%" verticalAlignment="center">
                            <StackLayout class="m-20">
                                <SVGImage [src]="'~/app/images/new_loan_resolution_not_approved.svg'" width="70%" height="50%"></SVGImage>
                            </StackLayout>
                            <Label class="h3 m-20" text="{{ 'ProductRequest.CheckOfferStatus.RejectedInfoLabel' | L }}" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </DockLayout>
            </ng-container>
        </StackLayout>
    </ng-template>
</StackLayout>
