@import "~/_app-variables.scss";

.fraction{
  font-size: 20;
  margin: 7 0 0 -3;
  vertical-align: center;
}
.currency{
  color: $text-color-caption;
  font-size: 20;
  margin: 7 0 0 -3;
  vertical-align: center;
}
