<StackLayout class="percentage-circle">
    <RadRadialGauge title="{{ animationEnabled ? (counter$ | async) + '%' : approvalSuccessRate + '%' }}" scaleX="0.8" scaleY="0.8">
        <TitleStyle tkRadialGaugeTitleStyle [textColor]="indicatorFillColor" [textSize]="titleFontSize" verticalOffset="0" horizontalOffset="0"></TitleStyle>
        <RadialScale tkRadialGaugeScales startAngle="-90" sweepAngle="360" minimum="0" maximum="100" radius="0.9">
            <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false"></ScaleStyle>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="1">
                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="white" barWidth="0.15"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator #indicator tkRadialScaleIndicators minimum="0" maximum="0" location="1">
                <BarIndicatorStyle
                    tkRadialBarIndicatorStyle
                    cap="Round"
                    [fillColor]="indicatorFillColor"
                    barWidth="0.15"
                    isAnimated="true"
                    [animationDuration]="duration"
                ></BarIndicatorStyle>
            </RadialBarIndicator>
        </RadialScale>
    </RadRadialGauge>
</StackLayout>
