<StackLayout class="page">
    <StackLayout class="close-button-container" horizontalAlignment="right" (tap)="onCloseButtonTap()">
        <SVGImage class="close_icon" src="~/app/images/icon_close.svg"></SVGImage>
    </StackLayout>
    <StackLayout class="m-20" *ngIf="vm$ | async as vm">
        <Label class="h2" marginBottom="5%" [text]="'EWallet.Configuration.Settings.DisplayName' | L"></Label>
        <omro-card-number [name]="vm.cardName" [last4Digits]="vm.last4Digits"></omro-card-number>
        <StackLayout [formGroup]="formGroup">
            <ng-container *ngFor="let setting of vm.settings">
                <omro-setting-row
                    [title]="setting.name"
                    [description]="setting.description"
                    [checked]="formGroup.get(setting.settingId)"
                    [isChecked]="setting.enabled"
                ></omro-setting-row>
            </ng-container>
        </StackLayout>
    </StackLayout>
</StackLayout>
