<DockLayout *ngIf="dynamicForm">
    <ScrollView>
        <StackLayout>
            <omro-top-progress dock="top" [model]="topProgressModel$ | async" (closePressed)="goBack()"></omro-top-progress>
            <StackLayout [formGroup]="formGroup" class="page-container" orientation="vertical">
                <Label class="h2" text="{{ title }}" textWrap="true"></Label>

                <Label class="font-label" marginTop="20" text="{{ dynamicForm.details }}" textWrap="true"></Label>

                <StackLayout marginTop="20">
                    <ng-container *ngFor="let field of dynamicForm.formFields">
                        <StackLayout class="form-container">
                            <ng-container [ngSwitch]="field.fieldType">
                                <ng-container *ngSwitchCase="'Textbox'">
                                    <StackLayout>
                                        <omro-text-field
                                            [class.invalid]="hasError(field.fieldId)"
                                            [formControlName]="field.fieldId"
                                            [isReadOnly]="dynamicForm.readOnly"
                                            [keyboardType]="getKeyboardType(field)"
                                            [label]="field.label"
                                            [placeholder]="field.textValue"
                                            class="mtextfield"
                                        ></omro-text-field>
                                        <ValidationError
                                            *ngIf="showValidation"
                                            [errorMessage]="getError(field.fieldId)"
                                            [show]="hasError(field.fieldId)"
                                        ></ValidationError>
                                    </StackLayout>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Checkbox'">
                                    <StackLayout [marginTop]="field.label && !isFirstCheckboxOfTypeCheckboxAndLabel(field) ? '30' : '10'" [marginBottom]="30">
                                        <omro-checkbox
                                            [text]="field.label"
                                            [formControlName]="field.fieldId"
                                            [invalid]="showValidation && hasError(field.fieldId)"
                                            [readonly]="dynamicForm.readOnly"
                                        ></omro-checkbox>
                                    </StackLayout>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Radio'">
                                    <StackLayout>
                                        <Label *ngIf="field.label" [text]="field.label" marginBottom="5"></Label>
                                        <omro-radio-buttons-select
                                            [possibleValues]="field.possibleValues"
                                            [formControlName]="field.fieldId"
                                            [initialValue]="getInitialValue(field)"
                                            [isReadonly]="dynamicForm.readOnly"
                                        ></omro-radio-buttons-select>
                                        <ValidationError
                                            *ngIf="showValidation"
                                            [errorMessage]="getError(field.fieldId)"
                                            [show]="hasError(field.fieldId)"
                                            [readonly]="dynamicForm.readOnly"
                                        ></ValidationError>
                                    </StackLayout>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Dropdown'">
                                    <StackLayout>
                                        <omro-dropdown-field
                                            [field]="field"
                                            [formControlName]="field.fieldId"
                                            [isReadOnly]="dynamicForm.readOnly"
                                            [modalDialogService]="modalDialogService"
                                            [placeholder]="field.textValue"
                                            [viewContainer]="vcRef"
                                        >
                                        </omro-dropdown-field>
                                        <ValidationError
                                            *ngIf="showValidation"
                                            [errorMessage]="getError(field.fieldId)"
                                            [show]="hasError(field.fieldId)"
                                        ></ValidationError>
                                    </StackLayout>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Calendar'">
                                    <StackLayout>
                                        <omro-date-field
                                            [field]="field"
                                            [formControlName]="field.fieldId"
                                            [isReadOnly]="dynamicForm.readOnly"
                                            [modalDialogService]="modalDialogService"
                                            [viewContainer]="vcRef"
                                        >
                                        </omro-date-field>
                                        <ValidationError
                                            *ngIf="showValidation"
                                            [errorMessage]="getError(field.fieldId)"
                                            [show]="hasError(field.fieldId)"
                                        ></ValidationError>
                                    </StackLayout>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Header'">
                                    <Label
                                        [class.m-y-30]="dynamicForm.readOnly"
                                        marginBottom="30"
                                        fontSize="24"
                                        text="{{ field.label }}"
                                        textWrap="true"
                                    ></Label>
                                </ng-container>
                            </ng-container>
                        </StackLayout>
                    </ng-container>
                </StackLayout>

                <StackLayout marginTop="40">
                    <ng-container *ngIf="!dynamicForm.readOnly; else closeBtn">
                        <GridLayout *ngIf="source === Feature.ProductRequest; else saveButton" columns="*,*">
                            <Button (tap)="onTapQuit()" class="btn btn-secondary" col="0" marginRight="10" text="{{ 'Common.Quit' | L }}"></Button>
                            <Button (tap)="onTapContinue()" class="btn btn-primary" col="1" marginLeft="10" text="{{ 'Common.Next' | L }}"></Button>
                        </GridLayout>
                        <ng-template #saveButton>
                            <Button (tap)="onTapContinue()" class="btn btn-primary" col="1" marginLeft="10" text="{{ 'Common.Save' | L }}"></Button>
                        </ng-template>
                    </ng-container>
                    <ng-template #closeBtn>
                        <Button (tap)="onTapClose()" class="btn btn-primary" col="0" marginRight="10" text="{{ 'Common.Close' | L }}"></Button>
                    </ng-template>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</DockLayout>
