<DockLayout>
    <ng-container [ngSwitch]="stageType">
        <ng-container *ngSwitchCase="StageType.InitiateProductRequest">
            <omro-initiate-credit-request></omro-initiate-credit-request>
        </ng-container>
        <ng-container *ngSwitchCase="StageType.ProductSelection">
            <omro-product-selection *ngIf="hasProductSelection"></omro-product-selection>
            <omro-check-offer-status *ngIf="!hasProductSelection"></omro-check-offer-status>
        </ng-container>
        <ng-container *ngSwitchCase="StageType.DynamicForm">
            <omro-questionnaire [formId]="dynamicFormId" [title]="dynamicFormTitle"></omro-questionnaire>
        </ng-container>
        <ng-container *ngSwitchCase="StageType.Generic">
            <omro-generic-stage-type [genericStage]="genericStage"></omro-generic-stage-type>
        </ng-container>
        <ng-container *ngSwitchCase="StageType.FileRepository">
            <omro-upload-main-page></omro-upload-main-page>
        </ng-container>
        <ng-container *ngSwitchCase="StageType.Uvp">
           <omro-standard-product-overview></omro-standard-product-overview>
        </ng-container>
        <ng-container *ngSwitchDefault> </ng-container>
    </ng-container>
</DockLayout>
