@import '../../../../styles/sizes';

.company-card {
  border-width: 2;
  border-color: #d6d9e0;
  border-radius: 10%;

  .icon-company-name {
    margin: 20, 0, 20, 20;
  }

  &.selected {
    border-color: #0055f9;
  }
}

.status-circle {
  background-color: #0055f9;
  width: 24;
  height: 24;
  border-radius: 100%;
  text-align: center;
  .check {
    font-size: 12;
  }
}
