<StackLayout class="page-without-bar" orientation="vertical" [formGroup]="formGroup">
    <Label class="h2 m-20" text="{{ 'PhoneRegistration.ThirdStep.Heading' | L }}" textWrap="true"></Label>

    <Label class="m-20" text="{{ 'PhoneRegistration.ThirdStep.Description' | L }}" textWrap="true"></Label>

    <StackLayout class="m-x-20">
        <GridLayout rows="auto" columns="*, auto">
            <MTextField
                class="mtextfield"
                colSpan="2"
                [class.invalid]="hasError('password')"
                formControlName="password"
                maxLength="24"
                [secure]="!showPassword_Set"
                placeholder="{{ 'PhoneRegistration.ThirdStep.Password' | L }}"
                returnKeyType="next"
            ></MTextField>
            <GridLayout col="1" rows="*" (tap)="showPassword_Set = !showPassword_Set">
                <Label *ngIf="showPassword_Set; else secure_set" class="fas eye-icon text-center" text="&#xf06e;"></Label>
                <ng-template #secure_set>
                    <Label class="fas eye-icon" text="&#xf070;"></Label>
                </ng-template>
            </GridLayout>
        </GridLayout>
        <ValidationError [show]="hasError('password')" [errorMessage]="getError('password')" [height]="50"></ValidationError>
    </StackLayout>

    <StackLayout class="m-x-20">
        <GridLayout rows="auto" columns="*, auto">
            <MTextField
                colSpan="2"
                formControlName="confirmPassword"
                [secure]="!showPassword_Confirm"
                placeholder="{{ 'PhoneRegistration.ThirdStep.ConfirmPassword' | L }}"
                class="mtextfield"
                [class.invalid]="confirmPasswordHasError"
                maxLength="24"
                returnKeyType="go"
                (returnPress)="onTapCreateAccount()"
            ></MTextField>
            <GridLayout col="1" (tap)="showPassword_Confirm = !showPassword_Confirm">
                <StackLayout verticalAlignment="center">
                    <Label *ngIf="showPassword_Confirm; else secure_set" class="fas eye-icon" text="&#xf06e;"></Label>
                    <ng-template #secure_set>
                        <Label class="fas eye-icon" text="&#xf070;"></Label>
                    </ng-template>
                </StackLayout>
            </GridLayout>
        </GridLayout>
        <ValidationError [show]="confirmPasswordHasError" [errorMessage]="confirmPasswordError"></ValidationError>
    </StackLayout>

    <Button class="btn btn-primary x-large" text="{{ 'PhoneRegistration.ThirdStep.CreateAccount' | L }}" (tap)="onTapCreateAccount()"></Button>

    <Label class="btn btn-link text-center" text="{{ 'Common.Cancel' | L }}" (tap)="onTapCancel()"></Label>
</StackLayout>
