@import '~/_app-variables';

.shake {
  animation: part1 0.2s linear forwards, part2 0.3s spring 0.2s none;
}
:host {
  .hasGreenBorder ::ng-deep {
    &.ntextfield {
      border-width: 2;
      border-color: $success-dark;
    }
    &.ntextfield-border {
      border-width: 2;
      border-color: transparent;
    }
  }

  .hasRedBorder ::ng-deep {
    &.ntextfield {
      border-width: 2;
      border-color: $error-dark;
    }
    &.ntextfield-border {
      border-width: 2;
      border-color: transparent;
    }
  }
}

@keyframes part1 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(7, 0);
  }
  100% {
    transform: translate(-10, 0);
  }
}

@keyframes part2 {
  0% {
    transform: translate(-10, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
