<FlexboxLayout justifyContent="center" flexGrow="1" [class.shake]="_shake">
    <ng-container *ngFor="let digit of digits; let i = index">
        <StackLayout class="border" [class.focused]="showFocus && digit.focused && !_showError">
            <FlexboxLayout
                class="digit"
                [class.focused]="showFocus && digit.focused && !_showError"
                [class.error]="_showError"
            >
                <StackLayout *ngIf="digit.char" class="digit-bullet"></StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </ng-container>
</FlexboxLayout>
