@import '~/styles/_omro-main-colors.scss';
@import '~/styles/mixins.scss';

$custom-green: #76a800;

.add-card-container {
  background-color: $omro-white;
  &.hasBorder {
    background-color: $omro-gray-light;
  }
  .card-icon-container {
    margin-right: 10;
    vertical-align: center;
    background-color: $omro-white;
    width: 65;
    height: 65;
    &.hasBorder {
      background-color: $omro-gray-light;
    }
    .icon {
      vertical-align: center;
      background-color: $omro-sky-dark;
      @include circle(30);
      text-align: center;
      &.green {
        background-color: $custom-green;
      }
    }
  }
}
