<GridLayout class="m-20" rows="*, auto, auto">
    <StackLayout>
        <!-- <Image src="res://flame" stretch="none" horizontalAlignment="center"></Image> -->
    </StackLayout>
    <StackLayout row="1">
        <Label class="h2 text-center" [text]="'AppStatus.NewVersionTitle' | L"></Label>
        <Label class="h3 text-center description" [text]="'AppStatus.SkippableUpdateDescription' | L" textWrap="true"></Label>
    </StackLayout>

    <StackLayout row="2" marginTop="10">
        <Button class="btn btn-primary action-btn" [text]="'AppStatus.Update' | L" (tap)="onUpdateTapped()"></Button>
        <Label [text]="'AppStatus.SkipThisVersion' | L" class="lbl-action text-center m-y-20" (tap)="onSkipVersionTapped()"></Label>
    </StackLayout>
</GridLayout>
