<ScrollView>
    <StackLayout *ngIf="account$ | async as account" class="page">
        <omro-close-button class="pull-right" (tapClose)="onCloseTap()"></omro-close-button>

        <Label class="h2 page-section" text="{{ 'Accounts.AccountDetails.Title' | L }}"></Label>

        <StackLayout class="page-section">
            <omro-account-header accountName="{{ account.name }}"></omro-account-header>
        </StackLayout>

        <FlexboxLayout class="page-section flex">
            <omro-info-field caption="{{ 'Accounts.AccountDetails.IBAN' | L }}">
                <Label class="title" text="{{ account.iban | L | uppercase }}"></Label>
            </omro-info-field>
            <omro-info-field caption="{{ 'Accounts.AccountDetails.AccountCurrency' | L }}">
                <Label class="title" text="{{ account.currencyCode | L | uppercase }}" minWidth="100"></Label>
            </omro-info-field>
        </FlexboxLayout>

        <FlexboxLayout class="page-section flex">
            <omro-info-field caption="{{ 'Accounts.AccountDetails.Bank' | L }}">
                <Label class="title" text="{{ account.bankName | L }}" textWrap="true"></Label>
            </omro-info-field>
            <omro-info-field caption="{{ 'Accounts.AccountDetails.SwiftCode' | L }}">
                <Label class="title" text="{{ account.bankSwiftCode | L | uppercase }}" minWidth="100"></Label>
            </omro-info-field>
        </FlexboxLayout>

        <omro-info-field class="page-section" caption="{{ 'Accounts.AccountDetails.BankAddress' | L }}">
            <Label class="title" text="{{ account.bankAddress | L }}" textWrap="true"></Label>
        </omro-info-field>

        <ng-container *ngIf="!!account.associatedCards">
            <omro-info-field class="page-section m-x-20" caption="{{ 'Accounts.AccountDetails.AssociatedCard' | L }}">
                <StackLayout class="payment-card" *ngFor="let associatedCard of account.associatedCards" marginBottom="10">
                    <GridLayout class="m-10" rows="50" columns="auto, *, auto">
                        <StackLayout width="50" verticalAlignment="center">
                            <SVGImage [src]="'~/app/images/credit-card.svg'" height="60%" width="80%"></SVGImage>
                        </StackLayout>
                        <StackLayout col="1" marginLeft="10" verticalAlignment="center">
                            <Label class="title" [text]="associatedCard.name" textWrap="true" maxLines="2"></Label>
                            <Label class="caption" [text]="associatedCard.processor + ' **** **** **** ' + associatedCard.last4Digits"></Label>
                        </StackLayout>
                        <omro-action-button
                            col="2"
                            [text]="'Detalii card'"
                            [showIcon]="false"
                            width="100"
                            buttonStyle="Navy"
                            (onButtonPress)="onCardDetailsButtonTap(associatedCard.id)"
                        ></omro-action-button>
                    </GridLayout>
                </StackLayout>
            </omro-info-field>
        </ng-container>

        <ng-container *ngIf="showEmitCardBox">
            <omro-info-field class="page-section m-x-20" [caption]="'Accounts.AccountDetails.RequestNewCard' | L">
                <FlexboxLayout class="flex emit-card-box" alignItems="center">
                    <Label [text]="account.eligibleCardMessage" width="50%" textWrap="true"></Label>
                    <omro-action-button
                        [text]="'Accounts.AccountDetails.EmitCard' | L"
                        width="120"
                        buttonStyle="Navy"
                        (onButtonPress)="onShowCardSelectionButtonTap()"
                    ></omro-action-button>
                </FlexboxLayout>
            </omro-info-field>
        </ng-container>

        <Label
            *ngIf="account.transactions.length > 0"
            class="page-section text-center lbl-action"
            text="{{ 'Accounts.AccountDetails.SendStatementViaEmail' | L }}"
            (tap)="onStatementButtonTap()"
        ></Label>

        <Button class="btn btn-primary x-large pull-right" marginTop="40" width="40%" [text]="'Common.Ok' | L" (tap)="onOkButtonTap()"></Button>
    </StackLayout>
</ScrollView>
