@import '~/_app-variables.scss';

.page{
  padding-bottom: 20;
}

.page-section {
  margin: 20 20 10 20;
}

.flex {
  @include flex-design(row, space-between);
}

.emit-card-box{
  padding: 10;
  border-radius: 8;
  background-color: $omro-gray-light;
}

.payment-card {
  background-color: $omro-gray-light;
  border-radius: 8;
}
