<ng-container *ngIf="!isAddCardPlaceholder; else addCardPlaceholder">
    <StackLayout *ngIf="!file.isError; else error" class="doc" (tap)="onTap()" [class.selected]="file.isSelected">
        <GridLayout rows="77%,40,*">
            <GridLayout rowSpan="3" *ngIf="file.isImage">
                <Image col="0" colSpan="2" row="0" src="{{ file.path }}" stretch="aspectFill"></Image>
                <StackLayout class="gradient"> </StackLayout>
            </GridLayout>
            <StackLayout *ngIf="!(isReadOnly && !file.path); else tapToDownload" horizontalAlignment="center" verticalAlignment="center">
                <omro-document-viewer [file]="file"></omro-document-viewer>
            </StackLayout>
            <ng-template #tapToDownload>
                <!-- <Label class="retry" text="Tap to download" verticalAlignment="center"></Label> -->
                <SVGImage src="~/app/images/icon_download.svg" height="53" width="71"></SVGImage>
            </ng-template>
            <StackLayout horizontalAlignment="right" verticalAlignment="top" *ngIf="file.isSelected">
                <omro-file-checkmark></omro-file-checkmark>
            </StackLayout>
            <Label [text]="file.fileName" class="h4 doc-card-footer1-lbl text-center" maxLines="2" row="1" textWrap="true" verticalAlignment="top"></Label>
            <Progress *ngIf="showProgress" [maxValue]="total" row="2" col="0" color="#54c0ee" [value]="current"></Progress>
        </GridLayout>
    </StackLayout>
    <ng-template #error>
        <StackLayout class="doc" (tap)="onRetry()">
            <GridLayout rows="50%,40%, auto">
                <SVGImage src="~/app/images/file_error.svg" height="43" ios:width="41" android:width="61" verticalAlignment="bottom"></SVGImage>
                <Label
                    [text]="file.fileName"
                    class="h4 doc-card-footer1-lbl text-center"
                    maxLines="2"
                    row="1"
                    textWrap="true"
                    verticalAlignment="center"
                ></Label>
                <StackLayout row="2" orientation="horizontal" horizontalAlignment="center">
                    <SVGImage src="~/app/images/icon_update.svg" height="16" width="13"></SVGImage>
                    <Label class="retry" text="{{ 'ProductRequest.Upload_Retry' | L }}" verticalAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ng-template>
</ng-container>
<ng-template #addCardPlaceholder>
    <StackLayout (tap)="onAddfiles()" class="doc">
        <GridLayout rows="77%,auto">
            <SVGImage src="~/app/images/file_upload.svg" height="43" ios:width="41" android:width="61"></SVGImage>
            <Label row="1" class="add-files-lbl" text="{{ 'ProductRequest.AddMoreFiles' | L }}"></Label>
        </GridLayout>
    </StackLayout>
</ng-template>
