@import "~/styles/_omro-main-colors.scss";
@import "~/styles/mixins.scss";
@import "~/_app-variables.scss";

.details-container {
    @include flex-design(row, space-between);
}

.section {
    width: 50%;
    margin: 10, 0, 10, 0;
}

.payment-card {
    background-color: $omro-gray-light;
    border-radius: 8;
}

.payment-options {
    margin: 20, 0, 20, 0;
    color: $omro-gray;
}

.loan-status {
    color: $omro-green;
}

.button-modify {
    border-color: $omro-sky-dark;
    border-width: 2;
    width: 25%;
}
.IBAN {
    @include text-medium();
    font-size: $size-s + 6;
    color: $omro-navy;
    vertical-align: center;
}
.IBAN-title {
    @include text-medium();
    font-size: $size-s + 6;
    color: $omro-gray;
    vertical-align: center;
}