<StackLayout>
    <StackLayout class="bottom-sheet-slider"></StackLayout>
    <StackLayout class="bottom-sheet-layout" ios:marginBottom="20">
        <Label class="h3 m-y-20 text-center" [text]="localization('Header')" (tap)="close()"></Label>
        <ng-container *ngIf="vm$ | async as vm">
            <StackLayout class="m-20">
                <FlexboxLayout class="details-container" flexWrap="wrap">
                    <!--
                    <omro-info-field class="section" [caption]="localization('Destination') | uppercase">
                        <Label class="title" [text]="vm.purpose"></Label>
                    </omro-info-field>
                    -->
                    <omro-info-field class="section" [caption]="localization('Amount') | uppercase">
                        <Label class="title" [text]="vm.totalAmount + ' ' + vm.currencyDisplayName"> </Label>
                    </omro-info-field>
                    <omro-info-field class="section" [caption]="localization('RemainingAmount') | uppercase">
                        <Label class="title" [text]="vm.totalLeftAmount + ' ' + vm.currencyDisplayName"> </Label>
                    </omro-info-field>
                    <omro-info-field class="section" [caption]="localization('Interest') | uppercase">
                        <Label class="title" text="{{vm.interestRate | number:'1.2'}}%"></Label>
                    </omro-info-field>
                    <omro-info-field class="section" [caption]="localization('Period') | uppercase">
                        <Label class="title" [text]="vm.months + ' ' + localization('Months')"> </Label>
                    </omro-info-field>
                    <omro-info-field class="section" [caption]="localization('NextRate') | uppercase">
                        <Label class="title" [text]="vm.nextDueDate | date: 'dd.MM.yyyy'"></Label>
                    </omro-info-field>
                    <omro-info-field class="section" [caption]="localization('Status') | uppercase">
                        <Label class="title loan-status" [text]="getLoanStatusMap(vm.isCompletelyPaid)"></Label>
                    </omro-info-field>
                </FlexboxLayout>
                <Label class="h3 payment-options" [text]="localization('PaymentOptions') | uppercase"></Label>
                <StackLayout (tap)="onTap()" class="payment-card">
                    <GridLayout class="m-10" rows="50" columns="auto, *, auto">
                        <StackLayout width="50" verticalAlignment="center">
                            <SVGImage [src]="'~/app/images/credit-card.svg'" height="60%" width="80%"></SVGImage>
                        </StackLayout>
                        <StackLayout col="1" marginLeft="10" verticalAlignment="center">
                            <Label class="IBAN-title" [text]="localization('BankTransferPayment') + vm.bank" textWrap="true"
                                maxLines="2"></Label>
                            <Label editable="false" class="IBAN" [text]="vm.IBAN"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <!-- <StackLayout class="payment-card">
                    <GridLayout class="m-10" rows="50" columns="auto, *, auto">
                        <StackLayout width="50" verticalAlignment="center">
                            <SVGImage [src]="'~/app/images/credit-card.svg'" height="60%" width="80%"></SVGImage>
                        </StackLayout>
                        <StackLayout col="1" marginLeft="10" verticalAlignment="center">
                            <Label class="title" [text]="localization('AutoPayment')" textWrap="true" maxLines="2"></Label>
                            <Label class="caption" text="MASTERCARD ***** 4025"></Label>
                        </StackLayout>
                        <Button class="btn btn-secondary small button-modify" marginRight="0" col="2" android:verticalAlignment="center" [text]="localization('ButtonText')">
                        </Button>
                    </GridLayout>
                </StackLayout> -->
            </StackLayout>
        </ng-container>
    </StackLayout>
</StackLayout>