<StackLayout>
    <StackLayout class="bottom-sheet-slider"></StackLayout>
    <StackLayout class="bottom-sheet-layout">
        <Label class="h3 text-center m-t-20" text="{{ 'CreditRequest.GiveUpOffer' | L }}"></Label>
        <Label class="h2 text-center m-t-20" text="{{ 'CreditRequest.ForWhatReasonYouDidNotLike' | L }}" textWrap="true"></Label>

        <StackLayout class="m-20">
            <StackLayout *ngFor="let item of reasons" orientation="horizontal">
                <omro-checkbox [(ngModel)]="item.checked" [text]='item.cancelationText' marginBottom="10"></omro-checkbox>
            </StackLayout>
        </StackLayout>

        <StackLayout class="m-y-20" ios:marginBottom="40">
            <GridLayout class="m-x-10" columns="*,*" height="60">
                <Button class="btn btn-error x-large" text="{{ 'CreditRequest.Quit' | L }}" marginLeft="10" marginRight="10" col="0" (tap)="quit()"></Button>
                <Button class="btn btn-transparent x-large" text="{{ 'Common.Back' | L }}" marginLeft="10" marginRight="10" col="1" (tap)="back()"></Button>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
