<StackLayout>
    <StackLayout class="bottom-sheet-slider"></StackLayout>
    <StackLayout class="bottom-sheet-layout">
        <Label class="h3 text-center action-info-txt" [text="'CreditRequest.Homepage.SwitchLoan.Header' | L"></Label>
        <StackLayout class="main-container" ios:marginBottom="30">
            <ng-container *ngFor="let card of cards$ | async">
                <StackLayout class="loan-selectable-card-border" [class.selected]="card.isSelected">
                    <StackLayout class="loan-selectable-card" [class.selected]="card.isSelected" (tap)="switchCardAndCloseBottomSheet(card.id)">
                        <StackLayout class="m-10">
                            <GridLayout rows="auto" columns="auto, *, 30">
                                <MDCardView android:class="m-10" borderRadius="7" rippleColor="lightgray" elevation="6" (tap)="switchCardAndCloseBottomSheet(card.id)">
                                    <StackLayout class="icon-container" [backgroundColor]="card.bgColor">
                                        <img *ngIf="card.processor" src="res://{{ card.processor | lowercase }}" width="50" />
                                    </StackLayout>
                                </MDCardView>
                                <Label col="1" class="card-name" marginLeft="10" fontSize="20" [text]="card.name" android:verticalAlignment="center"></Label>
                                <StackLayout *ngIf="card.isSelected" class="status-circle" col="2" verticalAlignment="center">
                                    <Label text="&#xf00c;" color="white" class="fas check"> </Label>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </ng-container>
        </StackLayout>
    </StackLayout>
</StackLayout>
