<StackLayout class="main-container" shadow [elevation]="6" cornerRadius="15">
  <GridLayout rows="auto" class="card-container">
      <GridLayout *ngIf="vm$ | async as vm" rows="auto, auto , auto , auto, auto">
          <GridLayout class="m-y-10 m-x-20" row="1" columns="*, auto">
              <StackLayout verticalAlignment="center">
                  <Label class="caption" [text]="vm.accountDetails.name | uppercase"></Label>
                  <omro-big-money [value]="vm.accountDetails.workingBalance" [currency]="vm.accountDetails.currencyCode | lowercase"></omro-big-money>
              </StackLayout>
              <MDCardView col="1" class="action-btn m-y-10" horizontalAlignment="right" (tap)="onNewTransactioTap()">
                  <GridLayout verticalAlignment="center" rows="auto" columns="*, auto">
                      <Label class="text-label text-center" [text]="'Accounts.AccountCard.NewTransaction' | L" android:verticalAlignment="center"></Label>
                      <Label col="1" text="&#xf138;" class="fas icon m-10"></Label>
                  </GridLayout>
              </MDCardView>
          </GridLayout>
          <FlexboxLayout class="m-y-10 m-x-20" row="2" justifyContent="space-between">
              <omro-info-field [caption]="'Accounts.AccountCard.ReceiptsLast6Months' | L | uppercase">
                  <Label class="h3" [text]="(vm.accountDetails.incomes6Months | number: '1.2') + ' ' + (vm.accountDetails.currencyCode | lowercase)"> </Label>
              </omro-info-field>

              <omro-info-field [caption]="'Accounts.AccountCard.PaymentsInTheLast6Months' | L | uppercase">
                  <Label class="h3" [text]="(vm.accountDetails.payments6Months | number: '1.2') + ' ' + (vm.accountDetails.currencyCode | lowercase)">
                  </Label>
              </omro-info-field>
          </FlexboxLayout>
          <StackLayout row="3" height="200">
              <Highcharts options="{{chartConfiguration.getConfig(vm.chartData)}}"> </Highcharts>
          </StackLayout>
          <Button row="5" class="btn btn-active" [text]="'Accounts.AccountCard.AccountDetails_ButtonText' | L" (tap)="onDetailsTap()"></Button>
      </GridLayout>
  </GridLayout>
</StackLayout>
