@import "~/styles/_omro-main-colors.scss";
@import "~/styles/_sizes.scss";
@import "~/styles/mixins.scss";
@import "~/_app-variables.scss";

.main-container {
  margin: 5, 0, 20, 0;
  .card-container {
    border-radius: 15;
    background-color: $omro-white;
    .banner {
      margin-top: 20;
      border-width: 2;
      border-color: $omro-green;
      border-radius: 8;
      .title {
        color: $omro-green;
      }
      .subtitle {
        color: $omro-green-dark;
        @include text-regular();
      }

      &.warning {
        border-color: $omro-rose;
        .title {
          color: $omro-rose;
        }
        .subtitle {
          color: $omro-black-light;
          @include text-regular();
        }
      }
    }

    .currency {
      font-size: $size-m;
    }

    .action-btn {
      background-color: $omro-green;
      border-radius: 8;
      ripple-color: #afce72;
      .text-label {
        margin-left: 10;
        margin-top: 2;
        color: $omro-white;
        font-size: $size-xs + $size-s;
      }
      .icon {
        font-size: $size-m + $size-s;
        color: $omro-white;
      }
    }

    .btn {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: none;
      z-index: 0;
      &:active {
        background-color: $omro-white;
        color: $omro-gray-light;
      }
      border-color: transparent;
      border-width: 1;
      color: $omro-sky-dark;
    }
  }
}
