<StackLayout [formGroup]="formGroup" class="page">
    <BackButton (backWasPressed)="goBack()"></BackButton>
    <StackLayout class="m-20">
        <Label [text]="'Accounts.AccountCard.PageTitle_ConfigureNewAccount' | L" class="h2 m-y-10"
               textWrap="true"></Label>
        <StackLayout marginTop="30">
            <omro-text-field
                    [class.invalid]="hasError('accountName')"
                    [formControlName]="'accountName'"
                    [label]="'Accounts.AccountCard.Label_AccountName' | L"
                    [placeholder]="'Accounts.AccountCard.Label_AccountName' | L"
                    class="mtextfield"
            ></omro-text-field>
            <ValidationError
                    [errorMessage]="getErrorMessage('accountName')"
                    [show]="hasError('accountName')"
            ></ValidationError>
        </StackLayout>
        <StackLayout>
            <omro-dropdown-field
                    (tapped)="onDrowdownTapped()"
                    [field]="currencyField"
                    [formControlName]="currencyField.fieldId"
                    [modalDialogService]="modalDialogService"
                    [placeholder]="currencyField.textValue"
                    [viewContainer]="vcRef"
            >
            </omro-dropdown-field>
            <ValidationError
                    [errorMessage]="getErrorMessage('currency')"
                    [show]="hasError('currency')"
            ></ValidationError>
        </StackLayout>
    </StackLayout>
    <GridLayout marginBottom="10%">
        <Button
                (tap)="onNextTap()"
                [isEnabled]="formGroup.valid"
                [text]="'Common.Next' | L"
                class="btn btn-primary x-large"
                col="0"
                horizontalAlignment="right"
                verticalAlignment="bottom"
                width="50%"
        ></Button>
    </GridLayout>
</StackLayout>
