<ScrollView>
    <DockLayout class="page">
        <StackLayout dock="top" class="close-button-container" horizontalAlignment="right" (tap)="onClosed()">
            <SVGImage class="close_icon" src="~/app/images/icon_close.svg"></SVGImage>
        </StackLayout>
        <Button
            dock="bottom"
            class="btn btn-primary x-large"
            width="50%"
            marginBottom="30"
            horizontalAlignment="right"
            [text]="'Common.Ok' | L"
            [isEnabled]="formGroup.valid"
            (tap)="onOkTapped()"
        ></Button>
        <StackLayout class="m-20">
            <Label class="h2" [text]="'Transfers.AddNewPartner.HeaderText' | L" textWrap="true"></Label>
            <PreviousNextView>
                <StackLayout class="form" [formGroup]="formGroup">
                    <omro-text-field
                        class="name-field"
                        [label]="'Transfers.AddNewPartner.Form.Name' | L"
                        formControlName="name"
                        returnType="next"
                    ></omro-text-field>
                    <GridLayout rows="30">
                        <Label *ngIf="getFieldValidity('name')" class="error-lbl" [text]="getErrorMessage('name')" verticalAlignment="center"></Label>
                    </GridLayout>
                    <omro-dropdown-field
                        class="countryCode-field"
                        [field]="countryField"
                        formControlName="countryCode"
                        [modalDialogService]="modalDialogService"
                        [viewContainer]="vcRef"
                    ></omro-dropdown-field>
                    <GridLayout rows="30">
                        <Label *ngIf="getFieldValidity('countryCode')" class="error-lbl" [text]="getErrorMessage('countryCode')" verticalAlignment="center"></Label>
                    </GridLayout>
                    <omro-dropdown-field
                        class="partnerType-field"
                        [field]="partnerTypeField"
                        formControlName="partnerType"
                        [modalDialogService]="modalDialogService"
                        [viewContainer]="vcRef"
                    ></omro-dropdown-field>
                    <GridLayout rows="30">
                        <Label *ngIf="getFieldValidity('partnerType')" class="error-lbl" [text]="getErrorMessage('partnerType')" verticalAlignment="center"></Label>
                    </GridLayout>
                    <ng-container *ngIf="!!uniqueCodeFormControl">
                        <omro-text-field
                            [label]="'Transfers.AddNewPartner.Form.CuiLabelText' | L"
                            formControlName="uniqueCode"
                            returnType="go"
                        ></omro-text-field>
                        <GridLayout rows="30">
                            <Label *ngIf="getFieldValidity('uniqueCode')" class="error-lbl" [text]="getErrorMessage('uniqueCode')" verticalAlignment="center"></Label>
                        </GridLayout>
                    </ng-container>
                </StackLayout>
            </PreviousNextView>
        </StackLayout>
    </DockLayout>
</ScrollView>
