<ActionBar flat="true" title="" *ngIf="fileSelectionMode === FileSelectionMode.Deactivated">
    <NavigationButton ios:visibility="collapsed" icon="res://back" (tap)="onBackTap()"></NavigationButton>
    <ActionItem icon="res://navigation/back" android:visibility="collapsed" ios.position="left" (tap)="onBackTap()"> </ActionItem>
    <Label className="h3" text="{{ title }}"></Label>
</ActionBar>

<ActionBar flat="true" title="" *ngIf="fileSelectionMode === FileSelectionMode.Visible">
    <NavigationButton ios:visibility="collapsed" icon="res://back" (tap)="onBackTap()"></NavigationButton>
    <ActionItem icon="res://navigation/back" android:visibility="collapsed" ios.position="left" (tap)="onBackTap()"> </ActionItem>
    <ActionItem position="right" ios.position="right">
        <StackLayout>
            <Label (tap)="onToggleSelection(true)" className="h3 blue select" text="Select"></Label>
        </StackLayout>
    </ActionItem>

    <Label className="h3" text="{{ title }}" textWrap="true"></Label>
</ActionBar>

<ActionBar title="" flat="true" backgroundColor="#FFFFFF" *ngIf="fileSelectionMode === FileSelectionMode.Activated">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <ActionItem ios.position="left" *ngIf="isIos" (tap)="deleteSelectedFiles()">
        <Label (tap)="deleteSelectedFiles()" className="h3 red select" text="Delete"></Label>
    </ActionItem>
    <GridLayout rows="auto" columns="auto, *" *ngIf="!isIos" verticalAlignment="center">
        <Label (tap)="deleteSelectedFiles()" className="h3 red select" text="Delete"></Label>
        <Label col="1" horizontalAlignment="center" class="h3" [text]="title"></Label>
    </GridLayout>
    <Label horizontalAlignment="center" class="h3" [text]="title" *ngIf="isIos"></Label>
    <ActionItem ios.position="right" backgroundColor="red">
        <StackLayout marginRight="30">
            <Label (tap)="onToggleSelection(false)" className="h3 blue select" text="Cancel"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>
