@import '~/styles/mixins.scss';
.page {
  .icon-close-container {
    @include square(40);
    horizontal-align: right;
    vertical-align: center;
    .icon-close {
      width: 20;
      height: 20;
    }
  }
  .main-container {
    margin: 20;
    .action-btn {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
