<StackLayout>
    <SVGImage
            (tap)="close()"
            class="icon_close"
            src="~/app/images/icon_close.svg"
    ></SVGImage>
    <ng-container *ngIf="inProgress else failed">
        <StackLayout class="main-container">
            <RadRadialGauge class="progress">
                <RadialScale
                        maximum="120"
                        minimum="0"
                        radius="0.9"
                        startAngle="-90"
                        sweepAngle="360"
                        tkRadialGaugeScales
                >
                    <ScaleStyle
                            labelsVisible="false"
                            ticksVisible="false"
                            tkRadialScaleStyle
                    ></ScaleStyle>

                    <RadialBarIndicator
                            location="1"
                            maximum="120"
                            minimum="0"
                            tkRadialScaleIndicators
                    >
                        <BarIndicatorStyle
                                barWidth="0.1"
                                fillColor="#F4F4F4"
                                tkRadialBarIndicatorStyle
                        ></BarIndicatorStyle>
                    </RadialBarIndicator>

                    <RadialBarIndicator
                        isAnimated="true"
                        location="1"
                        [maximum]="barIndicatorMax"
                        minimum="0"
                        tkRadialScaleIndicators
                    >
                        <BarIndicatorStyle
                                barWidth="0.1"
                                cap="Round"
                                fillColor="#76A800"
                                tkRadialBarIndicatorStyle
                        ></BarIndicatorStyle>
                    </RadialBarIndicator>
                </RadialScale>
            </RadRadialGauge>
            <Label class="h2 text-center m-20"
                   text="{{ 'KYC.Label_WeAreCheckingYou' | L }}"></Label>
        </StackLayout>
    </ng-container>
    <ng-template #failed>
        <DockLayout height="100%">
            <Button (tap)="close()" dock="bottom"
                    marginBottom="20"
                    class="btn btn-primary "
                    text="{{ 'Common.Close' | L }}"></Button>
            <StackLayout verticalAlignment="bottom" marginBottom="60">
                <Label class="h2 text-center m-20"
                       text="{{ 'KYC.Label_FailedTitle' | L }}"
                       textWrap="true"></Label>
                <Label class="h3 text-center m-10" textWrap="true"
                       text="{{ 'KYC.Label_FailedDescription' | L }}"></Label>
            </StackLayout>
        </DockLayout>
    </ng-template>

</StackLayout>
