<Label class="h2 m-20" [text]="'Profile.Header' | L"></Label>
<StackLayout *ngIf="vm" shadow [elevation]="6" cornerRadius="15">
    <GridLayout>
        <StackLayout class="profile-card">
            <GridLayout class="profile-card-content" rows="85, auto, auto, auto" columns="auto, *, 50">
                <GridLayout columns="auto, auto" verticalAligment="top" marginRight="10">
                    <StackLayout colSpan="2" class="profile-image" verticalAlignment="center">
                        <Label [text]="vm.user.initials" class="text-center user-initials"></Label>
                    </StackLayout>
                    <StackLayout col="1" verticalAlignment="bottom" horizontalAlignment="right">
                        <omro-kyc-status [isKYCDataAvailable]="vm.user.isKYCDataAvailable" [isProfile]="true"></omro-kyc-status>
                    </StackLayout>
                </GridLayout>

                <StackLayout col="1" colSpan="2" verticalAlignment="center">
                    <Label class="user-displayname" [text]="vm.user.displayName"></Label>
                </StackLayout>

                <StackLayout row="1" col="1" marginBottom="{{ vm.currentCompany ? 30 : 0 }}">
                    <Label class="info" *ngIf="vm.user.details" [text]="vm.user.details" textWrap="true"></Label>
                    <Button

                        class="btn btn-primary small"
                        marginLeft="0"
                        horizontalAlignment="left"
                        [text]="vm.user.actionButtonText"
                        (tap)="onAccounValidateButtonTapped()"
                    ></Button>
                </StackLayout>

                <StackLayout *ngIf="vm.currentCompany" row="0" col="1" colSpan="2" rowSpan="2" verticalAlignment="bottom">
                    <StackLayout class="hr" marginBottom="10"></StackLayout>
                    <Label class="caption" [text]="mappingRole[vm.currentCompany.mappingRole] | uppercase"></Label>
                </StackLayout>

                <StackLayout *ngIf="vm.currentCompany" row="3" col="1">
                    <Label class="title" maxLines="4" marginTop="10" [text]="vm.currentCompany?.customer.customerName | uppercase" textWrap="true"></Label>
                </StackLayout>
                <StackLayout
                    *ngIf="hasAnotherSelectableCompany(vm.companies)"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    row="3"
                    col="2"
                    height="30"
                    width="30"
                    (tap)="onCompanySelectionTap()"
                >
                    <SVGImage src="~/app/images/switch.svg" height="20" width="20"></SVGImage>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>
