<ScrollView>
    <StackLayout class="page" *ngIf="vm$ | async as vm">
        <StackLayout height="100%">
            <BackButton (backWasPressed)="goBack()"></BackButton>
            <Label class="h2 m-20" [text]="'EWallet.Homepage.NoCardsAdded.NewCard.DeliveryAdress.Title' | L" textWrap="true"></Label>
            <StackLayout verticalAlignment="center" marginTop="20">
                <GridLayout rows="auto, *">
                    <StackLayout class="m-20">
                        <PreviousNextView>
                            <StackLayout [formGroup]="formGroup">
                                <ns-container *ngFor="let key of formControls; let i = index">
                                    <omro-text-field
                                        [label]="labels[key]"
                                        [keyboardType]="isPostalCodeField(key) ? 'number' : undefined"
                                        [maxLength]="isPostalCodeField(key) ? '6' : '1000'"
                                        [formControl]="formGroup.get(key)"
                                        returnType="next"
                                        (returnPress)="onReturnPress(i)"
                                    ></omro-text-field>

                                    <GridLayout rows="30">
                                        <Label *ngIf="getFieldValidity(key)" class="error-lbl" [text]="getErrorMessage(key)" verticalAlignment="center"></Label>
                                    </GridLayout>
                                </ns-container>
                            </StackLayout>
                        </PreviousNextView>
                    </StackLayout>
                    <GridLayout row="1" marginBottom="20">
                        <Button
                            class="btn btn-primary x-large"
                            width="50%"
                            horizontalAlignment="right"
                            [text]="'Common.Next' | L"
                            [isEnabled]="formGroup.valid"
                            (tap)="onNextTap()"
                        ></Button>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
